/********************
  Navigation
********************/

.navigation {
  background: rgba(0,0,0,0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05), 0 -1px 6px rgba(0, 0, 0, 0.1) inset;
  color: #fff;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 20px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}



/********************
  Styles for home & about page
  (initially developed as a single long-scrolling page)
********************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html, section {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

section, aside {
  display: block;
}

section {
	background-attachment: fixed;
  background-color: #333;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

aside {
  background: #fff;
  color: #222;
  padding: 100px 0;
  text-align: center;
}

a {
  border: 1px solid #222;
  color: #222;
  display: inline-block;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 40px 20px 20px;
  padding: 20px;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  -webkit-transition: all .1s ease-in;
}

.intro a {
  border-color: #fff;
  color: #fff;
  min-width: 115px;
  margin-top: 120px;
  padding-right: 17px; /* This is to offset the 3px letter-spacing */
}

.intro a.button:hover {
  background: #fff;
  border-color: #fff;
  color: #000;
}

.home a:hover {
  text-decoration: none;
}

.navigation {
  padding: 0;
}

.navigation p {
  margin: 0;
}

.navigation a {
  margin: 0;
  min-height: inherit;
  min-width: inherit;
}

.navigation a:hover,
.navigation a:active {
  text-decoration: none;
}

.navigation .buttons a {
  border: none;
  margin: 0 17px 0 20px;
  opacity: 0.5;
  padding: 20px 0;
}

.navigation .buttons .active,
.navigation .buttons a:hover {
  border-top: 2px solid #fff;
  opacity: 1;
  padding-top: 6px;
}

.navigation .links a {
  border: none;
  opacity: 0.5;
}

.navigation .links a:hover {
  opacity: 1;
}

.intro .black-icon,
aside .white-icon {
  display: none;
}

.home .intro .social-links {
  bottom: 20px;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

.home .intro .social-links a {
  border: none;
  margin: 0;
  min-width: initial;
}

.home .intro .social-links a {
  opacity: 0.5;
}

.home .intro .social-links a:hover {
  opacity: 1;
}

/*.intro a:hover .black-icon,*/
aside a:hover .white-icon {
  display: inline;
  margin: 0 5px -4px 0;
}

/*.intro a:hover .white-icon,*/
aside a:hover .black-icon {
  display: none;
}

aside a:hover {
  background: #000;
  color: #fff;
}
/*
.intro .container a:hover {
  background: #fff;
  color: #000;
}*/

.dribbble:hover,
.twitter:hover,
.instagram:hover {
  border-color: transparent;
  color: #fff;
}

.dribbble:hover {
  background: #EA4C88;
}

.twitter:hover {
  background: #56ACEE;
}

.instagram:hover {
  background: #663D36;
}

.linkedin:hover {
  background: #0071B3;
}

.gmail:hover {
  background: #D34730;
}

a img {
  display: inline;
  height: 20px;
  margin: 0 5px -4px 0;
}

.scroll-indicator {
  border: none;
  bottom: 10px;
  left: 50%;
  margin: 0 0 0 -20px;
  padding: 0;
  position: absolute;
}

.scroll-indicator img {
  height: 40px;
  margin: 0;
  opacity: 0.5;
  width: 40px;
}

.scroll-indicator:hover img {
  opacity: 1;
}

.intro {
  background-image: url(../images/al-nightowl.jpg);
}

.about .intro {
  background-image: url(../images/intro-original.jpg);
}

.design {
  background-image: url(../images/design.jpg);
}

.yc {
  background-image: url(../images/yc.jpg);
}

.paper {
  background-image: url(../images/paper.jpg);
}

.usability {
  background-image: url(../images/usability.jpg);
}

.visualdesign {
  background-image: url(../images/visualdesign.jpg);
}

.code {
  background-image: url(../images/code.jpg);
}

.nightowl {
  background-image: url(../images/al-nightowl.jpg);
}

.workspace {
  background-image: url(../images/workspace4.jpg);
}

.yesi {
  background-image: url(../images/yesi.jpg);
}

.balboa-park {
  background-image: url(../images/balboa-park.jpg);
}

.dogs {
  background-image: url(../images/dogs2.jpg);
}

.california {
  background-image: url(../images/california.jpg);
}

.sandiego {
  background-image: url(../images/sandiego.jpg);
}

.biology {
  background-image: url(../images/biology.jpg);
}

.science {
  background-image: url(../images/space-shuttle.jpg);
}

.soccer {
  background-image: url(../images/al-soccer.jpg);
}

.travel-me {
  background-image: url(../images/travel-me.jpg);
}

.travel-yesi {
  background-image: url(../images/travel-yesi.jpg);
}

.amsterdam {
  background-image: url(../images/amsterdam.jpg);
}

.maui {
  background-image: url(../images/maui.jpg);
}

.san-francisco {
  background-image: url(../images/san-francisco2.jpg);
}

.inner-border, .slide-container {  
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 95%;
}

.inner-border {
  border: 3px double #fff;
  height: 95%;
  z-index: 10;
}

h1,
h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  text-rendering: optimizeLegibility;
}

h1.two-icons {
  margin-bottom: 20px;
}

h1 {
  font-family: Georgia, serif;
  font-size: 47px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 100%;
}

h1.rule {
  margin-bottom: 5px;
}

h2 {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

section h1 {
  line-height: 120%;
}

aside h1, aside h2 {
  color: #222;
}

aside h1 {
  font-family: Georgia, serif;
  font-size: 47px;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 0;
}

aside h2 {
  color: #222;
  font-size: 18px;
}

.intro h1 {
  font-family: 'Lato', 'HelveticaNeue-UltraLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 76px;
  font-weight: 100;
  letter-spacing: -5px;
}

.home .intro h1 {
  font-size: 100px;
  line-height: 100%;
}

.about .intro h1 {
  letter-spacing: -5px;
}

.intro h2 {
  font-family: Georgia;
  font-size: 33px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
}

.home .intro h2 {
  margin-bottom: 5px;
}

.intro .kern-out {
  letter-spacing: 0;
}

.home .intro .kern-out {
  letter-spacing: 1px;
}

img {
  margin: 20px 0;
  max-height: 30px;
  vertical-align: initial;
}

.intro img {
  max-height: none;
}

hr {
  border: none;
  border-top: 1px solid #FFF;
  display: inline-block;
  font-size: 2px;
  height: 15px;
  line-height: 2px;
  margin: 0 17px 20px;
  width: 100px;
}

section img:nth-of-type(2) {
  margin-top: 30px;
}

aside hr {
  border-color: #222;
  margin: 10px 0 5px;
}

.signature {
  background: rgb(57,153,214); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(57,153,214,1) 0%, rgba(47,199,202,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(57,153,214,1)), color-stop(100%,rgba(47,199,202,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(57,153,214,1) 0%,rgba(47,199,202,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(57,153,214,1) 0%,rgba(47,199,202,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(57,153,214,1) 0%,rgba(47,199,202,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(57,153,214,1) 0%,rgba(47,199,202,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3999d6', endColorstr='#2fc7ca',GradientType=0 ); /* IE6-9 */
}

.signature h1 {
  color: #fff;
  margin-bottom: 40px;
}

.signature img {
  margin: 0;
  max-height: none;
  max-width: 50%;
}

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -30%);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(-50%, -50%);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate(-50%, -30%);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(-50%, -50%);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translate(-50%, -30%);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(-50%, -50%);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%, -50%);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

video {
  height: auto;
	left: 0;
  min-width: 100%;
  min-height: 100%;
	position: absolute;
	top: 0;
  width: auto;
	z-index: 0;
}

.turtle video {
  left: auto;
  right: 0;
}

.inner-border.dark-fill,
.video-container .inner-border,
.design .inner-border,
.amsterdam .inner-border,
.maui .inner-border,
.sandiego .inner-border,
.nightowl .inner-border,
.biology .inner-border,
.science .inner-border,
.dogs .inner-border,
.code .inner-border,
.soccer .inner-border,
.san-francisco .inner-border {
  background: rgba(0, 0, 0, 0.5);
}

.visualdesign .inner-border {
  background: rgba(0, 0, 0, 0.8);
}

.video-container-purple .inner-border {
  /* solid bg color */
  background: rgba(226, 88, 140, 0.5);
  
  
  /* color gradient, on a diagonal from bottom left to upper right */
  background: -moz-linear-gradient(45deg,  rgba(226,88,140,0.5) 0%, rgba(255,166,98,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(226,88,140,0.5)), color-stop(100%,rgba(255,166,98,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  rgba(226,88,140,0.5) 0%,rgba(255,166,98,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  rgba(226,88,140,0.5) 0%,rgba(255,166,98,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  rgba(226,88,140,0.5) 0%,rgba(255,166,98,0.5) 100%); /* IE10+ */
  background: linear-gradient(45deg,  rgba(226,88,140,0.5) 0%,rgba(255,166,98,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e2588c', endColorstr='#80ffa662',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.kern-more {
  margin-left: 3px;
}

.kern-less {
  margin-left: -3px;
}

.link-list {
  margin-top: 80px;
}

.writing a {
  border: none;
  border-bottom: 1px solid #333;
  display: inline;
  font-family: georgia;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 140%;
  margin: 0;
  padding: 0 0 1px;
  text-transform: none;
}

aside ul,
aside li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside li {
  margin-top: 20px;
}

aside a {
  margin: 40px 20px 0;
  min-width: 170px;
}

aside a:hover {
  text-decoration: none;
}



/********************
  Mobile tweaks
********************/

@media only screen and (max-width : 1024px) {
  
  section {
    background-attachment: scroll;
  }
  
  video, .video-container {
    display: none;
  }
  
  .balboa-park .inner-border,
  .san-francisco .inner-border {
    background: rgba(0,0,0,0.5);
  }
  
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  
  .intro img, .sandiego img {
    max-width: 103px;
  }
  
  h1, aside h1 {
    font-size: 29px;
  }
  
  h1, h2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  hr {
    width: 50px;
  }

  .intro img.avatar {
    margin: -20px 0 0;
    max-width: 100px;
  }
  
  .intro h1 {
    font-size: 47px;
    font-weight: 300;
  }

  .intro span {
    display: none;
  }
  
  .intro .white-icon,
  .intro .black-icon {
    margin: 0;
  }
  
  .intro a {
    border: none;
    margin-top: 20px;
    padding: 0;
  }
  
}